  .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .header--home {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .heading {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
    text-shadow: none;
    position: relative;
    color: transparent;
    padding: 0 50px;
  }


  .heading :global {
    animation: fudge 7s ease-in-out alternate infinite;
  }

  .header--home .heading {
    font-size: calc(18px + 20vw);
    margin-top: 15vh;
    order: 2;
    padding: 0;
  }

  .heading::before, .headingPresentation::before {
    content: 'Cher';
    position: absolute;
    left: 0;
    right: 0;
    text-shadow: -5px 0 #ab43b0;
    background: transparent;
    color: transparent;
    top: 0;
    z-index: 1;
    transform: translateX(-2px);
    filter: blur(2px);
    opacity: .4;
    mix-blend-mode: color-burn;
  }

  .heading::before :global, .headingPresentation::before :global {
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
  }
  
  .headingPresentation {
    font-size: inherit;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .headingPresentationLayer {
    position: absolute;
    z-index: 2;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: none;
  }

  .heading::after, .headingPresentation::after {
    content: 'Cher';
    position: absolute;
    left: 0;
    right: 0;
    text-shadow: -5px 0 #f7f558;
    background: transparent;
    color: transparent;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
    transform: translateX(15px);
    filter: blur(2px);
    opacity: .4;
    mix-blend-mode: color-burn;
  }


  .heading::after :global, .headingPresentation::after :global { 
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  }

.subheadingGroup {
    order: 3;
    width: 100%;
    text-align: left;
    padding: 0 40px;
    border-top: 1px solid rgba(240,248,255, .2);
}


.header--home .subheadingGroup {
    text-align: center;
    padding: 0;
    border: none;
}


  .subheading {
      font-size: 14px;
  }

  .header--home .subheading {
    font-size: calc(14px + 1vw);
}

  .nav {
    order: 1;
    margin-left: auto;
  }

  .nav ul {
      list-style-type: none;
      display: flex;
  }
  .nav ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2rem;
  }
  .nav ul li a,  .nav ul li span {
    font-size: calc(16px + 1.2vw);
    font-weight: bold;
    display: block;
    height: 100%;
    line-height: 2rem;
  }

  .nav ul li span {
      color: yellow;
  }

  .nav ul .shop a, .nav ul .shop span {
      display: flex;
      align-items: center;
  }

  .shop a::after, .shop span::after {
      content: '\25BA';
      font-size: calc(14px + .75vw);
      margin-left: 6px;
  }

