@font-face {
  font-family: 'Indelible';
  src: url('/indelible-webfont.woff2') format('woff2'),
       url('/indelible-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VCR';
  src: url('/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
       url('/vcr_osd_mono_1.001-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/retro-palms.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: #261e35;
  font-family: 'VCR';
  color: white;
  text-shadow: -1px 1px 0 black,
		       1px 1px 0 black,
		       1px -1px 0 black,
		        -1px -1px 0 black;
  text-transform: uppercase;
  font-size: 14px;
}

h1 {
  font-family: 'Indelible';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation: glitch 5s 5s infinite;
}

a {
  color: white;
  text-decoration: none;
}

footer {
  margin-top: auto;
}


@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {  
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(45px 0 39px 0);
  }
  6.6666666667% {
    clip-path: inset(77px 0 17px 0);
  }
  10% {
    clip-path: inset(23px 0 57px 0);
  }
  13.3333333333% {
    clip-path: inset(85px 0 12px 0);
  }
  16.6666666667% {
    clip-path: inset(11px 0 8px 0);
  }
  20% {
    clip-path: inset(7px 0 56px 0);
  }
  23.3333333333% {
    clip-path: inset(17px 0 17px 0);
  }
  26.6666666667% {
    clip-path: inset(70px 0 14px 0);
  }
  30% {
    clip-path: inset(58px 0 39px 0);
  }
  33.3333333333% {
    clip-path: inset(24px 0 58px 0);
  }
  36.6666666667% {
    clip-path: inset(66px 0 24px 0);
  }
  40% {
    clip-path: inset(55px 0 23px 0);
  }
  43.3333333333% {
    clip-path: inset(10px 0 21px 0);
  }
  46.6666666667% {
    clip-path: inset(42px 0 3px 0);
  }
  50% {
    clip-path: inset(5px 0 36px 0);
  }
  53.3333333333% {
    clip-path: inset(20px 0 68px 0);
  }
  56.6666666667% {
    clip-path: inset(76px 0 16px 0);
  }
  60% {
    clip-path: inset(61px 0 33px 0);
  }
  63.3333333333% {
    clip-path: inset(46px 0 47px 0);
  }
  66.6666666667% {
    clip-path: inset(61px 0 30px 0);
  }
  70% {
    clip-path: inset(76px 0 24px 0);
  }
  73.3333333333% {
    clip-path: inset(90px 0 4px 0);
  }
  76.6666666667% {
    clip-path: inset(73px 0 21px 0);
  }
  80% {
    clip-path: inset(90px 0 4px 0);
  }
  83.3333333333% {
    clip-path: inset(36px 0 38px 0);
  }
  86.6666666667% {
    clip-path: inset(58px 0 15px 0);
  }
  90% {
    clip-path: inset(21px 0 52px 0);
  }
  93.3333333333% {
    clip-path: inset(71px 0 17px 0);
  }
  96.6666666667% {
    clip-path: inset(54px 0 36px 0);
  }
  100% {
    clip-path: inset(50px 0 19px 0);
  }
}
@keyframes noise-2 {
  0% {
    clip-path: inset(15px 0 83px 0);
  }
  3.3333333333% {
    clip-path: inset(41px 0 44px 0);
  }
  6.6666666667% {
    clip-path: inset(39px 0 56px 0);
  }
  10% {
    clip-path: inset(14px 0 43px 0);
  }
  13.3333333333% {
    clip-path: inset(32px 0 65px 0);
  }
  16.6666666667% {
    clip-path: inset(39px 0 12px 0);
  }
  20% {
    clip-path: inset(13px 0 78px 0);
  }
  23.3333333333% {
    clip-path: inset(77px 0 4px 0);
  }
  26.6666666667% {
    clip-path: inset(60px 0 23px 0);
  }
  30% {
    clip-path: inset(98px 0 1px 0);
  }
  33.3333333333% {
    clip-path: inset(53px 0 35px 0);
  }
  36.6666666667% {
    clip-path: inset(60px 0 5px 0);
  }
  40% {
    clip-path: inset(94px 0 6px 0);
  }
  43.3333333333% {
    clip-path: inset(91px 0 10px 0);
  }
  46.6666666667% {
    clip-path: inset(86px 0 9px 0);
  }
  50% {
    clip-path: inset(39px 0 61px 0);
  }
  53.3333333333% {
    clip-path: inset(60px 0 34px 0);
  }
  56.6666666667% {
    clip-path: inset(81px 0 15px 0);
  }
  60% {
    clip-path: inset(38px 0 42px 0);
  }
  63.3333333333% {
    clip-path: inset(90px 0 4px 0);
  }
  66.6666666667% {
    clip-path: inset(68px 0 29px 0);
  }
  70% {
    clip-path: inset(28px 0 60px 0);
  }
  73.3333333333% {
    clip-path: inset(29px 0 47px 0);
  }
  76.6666666667% {
    clip-path: inset(95px 0 6px 0);
  }
  80% {
    clip-path: inset(87px 0 10px 0);
  }
  83.3333333333% {
    clip-path: inset(15px 0 61px 0);
  }
  86.6666666667% {
    clip-path: inset(5px 0 2px 0);
  }
  90% {
    clip-path: inset(55px 0 40px 0);
  }
  93.3333333333% {
    clip-path: inset(10px 0 85px 0);
  }
  96.6666666667% {
    clip-path: inset(1px 0 62px 0);
  }
  100% {
    clip-path: inset(65px 0 21px 0);
  }
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

